
@{
    ViewBag.Title = "Index";
}
<style>
    /* Estilos para el contenedor de la imagen */
    .about-img {
        text-align: center; /* Alinea la imagen al centro */
    }

        /* Estilos para la imagen */
        .about-img img {
            max-width: 100%; /* Asegura que la imagen no sea más ancha que su contenedor */
            height: auto; /* Mantiene la proporción de aspecto de la imagen */
        }
</style>
<div class="center-container">
    <div class="col-lg-6">
        <div class="section-header text-left">
            <p>Sobre nosotros</p>
            <h2>Lavado y detalle de autos </h2>
        </div>

        <div class="form-row">
            <div class="col-md-6">
                <!-- Primera columna -->
                <div class="about-img">
                    <img src="~/UserTemp/img/local.jpeg" alt="Image">
                </div>
                <p style="text-align: justify;">
                    Nuestra Historia
                    En época de pandemia, hace más de 3 años, nació VettelCarWash con una visión en
                    mente: transformar la experiencia de lavado de automóviles en algo excepcional.
                    Fundado por dos amigos apasionados por los autos y el cuidado meticuloso,
                    VettelCarWash nació de la idea de que cada vehículo merece ser tratado con el máximo
                    respeto y atención.
                </p>
                <p style="text-align: justify;">
                    Nuestros Valores
                    Calidad Inigualable: En VettelCarWash, la calidad es nuestra prioridad número uno.
                    Utilizamos los productos y técnicas más avanzados para garantizar que tu vehículo reciba un
                    tratamiento de primer nivel. Nuestro equipo de profesionales altamente capacitados se
                    enorgullece de prestar atención a los detalles más pequeños, asegurando que tu vehículo salga
                    impecable y reluciente.
                </p>
                <p style="text-align: justify;">
                    Sostenibilidad: No solo nos preocupamos por la belleza de tu auto, sino también por el medio
                    ambiente. Hemos implementado prácticas sostenibles en todos los aspectos de nuestro negocio.
                    Utilizamos productos biodegradables y tecnologías de ahorro de agua para minimizar nuestro
                    impacto en el entorno
                </p>
            </div>
            <div class="col-md-6">
                <!-- Segunda columna -->
                <p style="text-align: justify;">
                    Experiencia del Cliente: Entendemos que tu tiempo es valioso. Por eso, hemos diseñado
                    nuestros servicios para brindarte una experiencia fluida y cómoda. Ya sea que elijas nuestro paquete
                    básico o un tratamiento completo de detalle, nos esforzamos por superar tus expectativas en cada
                    visita.
                </p>
                <p style="text-align: justify;">
                    Nuestro Compromiso
                    A lo largo de los años, hemos crecido y evolucionado, pero nuestra pasión por el cuidado
                    de los autos y nuestra dedicación a nuestros clientes nunca han cambiado. Estamos
                    comprometidos con la mejora continua, la innovación constante y la satisfacción del
                    cliente. VettelCarWash es más que un negocio; es una comunidad de entusiastas que
                    comparten la misma admiración por los autos bien cuidados.
                </p>
                <p style="text-align: justify;">
                    Visión: Ser reconocidos como el líder indiscutible en el cuidado automotriz,
                    estableciendo el estándar de excelencia en la industria del lavado de autos. Nos
                    esforzamos por ser la primera opción de los propietarios de vehículos que buscan un
                    servicio excepcional, sostenible y transformador. Nuestra visión es ser un referente en
                    innovación, calidad y compromiso con el medio ambiente, creando una comunidad de
                    amantes de los autos que confían en nosotros para mantener sus vehículos en perfecto
                    estado
                </p>
                <p style="text-align: justify;">
                    Misión: Nuestra misión en VettelCarWash es proporcionar a nuestros clientes una
                    experiencia de cuidado automotriz inigualable. Nos comprometemos a brindar servicios
                    de lavado y detallado de la más alta calidad, utilizando técnicas y productos innovadores
                    que resalten la belleza y durabilidad de cada vehículo. Buscamos superar las
                    expectativas de nuestros clientes en cada visita, ofreciendo un trato personalizado,
                    atención a los detalles y un enfoque en la sostenibilidad ambiental. A través de nuestra
                    pasión por los autos y nuestro compromiso con la excelencia, aspiramos a convertir
                    cada vehículo que atendemos en una obra maestra reluciente y protegida,
                    contribuyendo a la satisfacción y orgullo de sus propietarios
                </p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
