
@{
    ViewBag.Title = "Benefits";
}

<!-- Service Start -->
<div class="service">
    <div class="container">
        <div class="section-header text-center">
            <p>Que ofrecemos?</p>
            <h2>Servicio de lavado premium</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-car-wash-1"></i>
                    <h3>Lavado exterior</h3>
                    <p>Ofrecemos excelentes productos para realizar el lavado externo de su vehiculo con las mejores condiciones del mercado</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-car-wash"></i>
                    <h3>Lavado interior</h3>
                    <p>Ofrecemos un gran personal humano el cual realiza el lavado de interiores de forma excelente con los mejores productos</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-vacuum-cleaner"></i>
                    <h3>Aspirar el interior del auto</h3>
                    <p>Todos nuestros paquetes incluyen el aspirado interior de tu automóvil, si prefieres omitir el aspirado para optimizar tu tiempo, puedes indicárselo a nuestro personal.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-seat"></i>
                    <h3>Lavado y limpieza de asientos</h3>
                    <p>Se utilizan productos de alta calidad para el mantenimiento y limpieza de los asientos del auto</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-car-service"></i>
                    <h3>Limpieza de vidrios</h3>
                    <p>La limpieza de los vidrios se realizan con un paño de microfibras de alta calida y con los mejores productos del mercado</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-car-service-2"></i>
                    <h3>Enceramos su vehiculo</h3>
                    <p>Con productos de alta calidad, brindamos una capa protectora a la superficie que sirve para que la pintura automotriz no sufra daños por contaminantes o marcas de agua.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-car-wash"></i>
                    <h3>Realizamos revisión de aceite</h3>
                    <p>Tambien ofrecemos de forma gratuita la revisión del aceite de su vehiculo</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-item">
                    <i class="flaticon-brush-1"></i>
                    <h3>limpieza de frenos</h3>
                    <p>Ofrecemos limpieza profunda del area de frenado lo cual ayuda a reducir la mugre y el exceso de polvo en esa area</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
