
@{
    ViewBag.Title = "Recommendations";
}

<!-- Blog Start -->
<div class="blog">
    <div class="container">
        <div class="section-header text-center">
            <p>Recomendaciones</p>
            <h2>Recomendaciones al cliente</h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="~/UserTemp/img/blog-1.jpg" alt="Image">
                    </div>
                    <div class="blog-text">
                        <h3><a href="#">Limpieza Interna</a></h3>
                        <p style="text-align: justify;">
                            Nuestros productos de alta calidad de las reconocidas marcas como Meguiars y Mirror Glaze logran que nuestro servicio de limpieza interior de su vehículo sea de las mejores en el área.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="~/UserTemp/img/blog-2.jpg" alt="Image">
                    </div>
                    <div class="blog-text">
                        <h3><a href="#"></a>Limpieza Externa</h3>
                        <p style="text-align: justify;">
                            Antes de ingresar al lavacar, asegúrate de elegir el servicio que mejor se adapte a las necesidades de tu automóvil. Puede ser un lavado básico, uno con encerado, o incluso un lavado premium con detalles adicionales.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="~/UserTemp/img/blog-3.jpg" alt="Image">
                    </div>
                    <div class="blog-text">
                        <h3><a href="#">Aspirado</a></h3>
                        <p style="text-align: justify;">
                            Dedicamos tiempo extra para aspirar, lavar y restregar las alfombras de tu vehículo, especialmente en las áreas donde tus pies descansan con mayor frecuencia, ya que son lugares que tienden a acumular más suciedad, Si tu
                            vehículo tiene tapetes de goma o tela no te preocupes, aquí realizamos toda clase de cuidados a tus alfombras y a los interiores de tu vehículo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
